
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
html{
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    scroll-padding-top: clamp(150px,12vw,150px);
}
body{
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    z-index: 0;
    background-color: #1E1E24;
    font-family: 'Poppins', serif; 
    
}
.fundo{
    position: absolute;
    width: 100%;
    max-width: 1600px;
    height: 100vh;
    min-height: 600px;
    max-height: 900px;
    background-image: url("../assets/home/abstract-1238247_1920.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}


.title{
    color: #edd206f7;
    font-size: clamp(3.5rem,3.5vw,4.5rem);
    font-family: 'Gasoek One', sans-serif;
}

.text{
    color:rgb(239, 238, 238);
    font-family: 'Poppins', sans-serif;   
}
.red{
    background-color: #b3181e;
}
.yellow{
    background-color: #FFC107;
}
.orange{
    background-color: #FA9F42;
}
.f-red{
    color: #C1292E;
}
.f-yellow{
    color: #edd206f7;
}
.f-orange{
    color: #FA9F42;
}



.body-home{
    width: 100%;
}

a{
    font-weight: bolder;
    text-decoration: none;
}




.navbar{
    max-width: 1600px;
    position: fixed;
    z-index: 99999999;
   
    background-color: #9a0a0a;
}
.nav-link{
    background-color:rgb(16, 164, 16);
    margin-left: 2px;
    margin-top: 3px;
    border-radius: 5px;
    color: white;
}
.nav-link:hover{
    background-color: hsl(130, 72%, 28%);
    color: yellow;
}
.c-logo{
    padding: 5px 0px;
}
.logo{
    width: clamp(100px,12vw,150px);
    border-radius: 20px;
}


.c-icons a{
    background-color: white;
    border-radius: 4px 4px 4px 4px;  
    margin: 5px;
}
.fa-square-instagram{
    color: #e222b5;
}
.fa-square-instagram:hover{
    color: #cc22e2;
}
i{
    font-size: clamp(30px, 2.2vw,60px);
}


.home{
    width: 100%;
    min-height: 600px;
    height: 100vh;
    max-height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
}

.c-home{
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    box-shadow: 6px 6px 8px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 350px;
    

}
.c-home h2{
    
    margin-bottom: 12px;
}

span{
    color: #edd206f7;
}


.btn{
    font-family: 'Poppins', sans-serif;
    background-color:#FFC107;
    color:#292929;
    
}
.btn:hover{
    background-color: #edd206f7;
    color: #b00e0e;
}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../assets/about/restaurant-5107519-1920.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    
}
.about-img{
    width: 50%;
}

.c-about{
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    box-shadow: 6px 6px 8px black;
    background-color: rgba(193, 41, 46, 0.916);
    max-width: 500px;
    
}

.servicos{
   padding-top:30px;
}
.c-servicos{
    display: flex ;
    justify-content: space-around;
    padding: 30px;
}
.c-servicos div{
    text-align: center;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
}

.servicos-img{
    width: clamp(90px, 15vw, 160px);
    color: black;
}

.servicos h4{
    color: #b3181e;
    font-size: clamp(2.2rem,2.2vw,2.5rem);
    padding: 10px;
}

.servicos p{
    font-size: clamp(1.4rem,1.4vw,1.8rem);
    padding: 5px;
    color: black;
}

.catalago{
    padding-top: 20px;
    background-color: #b3181e; 
   
   
}
.c-catalago{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    
}

.card{
    margin: 10px;
    max-width: 300px;
    box-shadow: 2px 2px 4px black;
}
.card p {
    font-size: clamp(1.5rem,1.5vw,1.7rem);
    min-height: 150px;
}

.menu{
    padding: 30px 0px;
    border-bottom: 4px solid #ffc107;
    background-color: rgb(116, 14, 14);
}

.c-menu_text{
   max-width: 600px;
   margin: 0 auto; 
   padding: 20px;    
}

.menu-pizza-top{
    display: flex;
}
.menu-pizza{
    display: flex;
    flex-direction: row; 
}
.menu-img{
    width:50%;
}
.menu-title{
    font-size: clamp(2rem,2vw,2.5rem);
}
.menu-pizza-about{
    padding: 20px;
    padding-bottom: 20px;
    background: url("../imgs/fundo/black-listrado.jpg");
}
.menu-pizza-about .text{
    width: 100%;
    max-width: 293px;
    height: 90px;
}
.c-menu_btn{
    display: flex;
    align-items: center;
}
.menu-price{
    color: #edd206f7;
    margin: 0;
    margin-right: 10px;
    font-size: clamp(1.3rem,1.3vw,1.5rem);
}

.menu-pizza-bottom{
    display: flex;
}

.menu-pizza-bottom  .menu-pizza{
    flex-direction: row-reverse;
}

.carousel{
    padding: 30px 10px;
}
.carousel-inner{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.cards-wrapper {
    display: flex;
    justify-content: center;
}
.card {
    border: none;
}
.card-carousel{
    width: 100%;
    max-width: 400px;
    height:200px;
    margin: 0 0.5em;
    border-radius: 10px;
    
}
.card-body{
    margin: 10px 0px ;
}
.card-body div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-body img {
    width: 10%;
    min-width:30px;
    height: 40px;
    border-radius: 0px;
}
.card-title{
    font-size: clamp(2rem,2vw,2.2rem);
}
.card-body i{
    cursor: none;
    font-size: clamp(1.5rem,1.5vw,1.5rem);
    color: rgb(219, 219, 17);
}
.card-body p{
    padding-top: 10px;
}
.carousel-inner{
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.contact{
    padding: 30px 0px;

}
.contact header{
    padding-bottom: 30px;
}
.contato-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-c_icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #ffc107;
    background-color: whitesmoke;
}
i{
    cursor: pointer;
}
.icon-footer{
    cursor: pointer;
    width: 3.2rem;
}
.contact-c_group{
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    margin-top:10px;
    border-radius: 10px;
    border: 2px solid #ffc107;
    background-color: whitesmoke;
    
}
.contact-map{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    
}
.contact-map iframe{
    width: 100%;
    max-width: 400px;
    min-height: 300px;
    height: 100%;
    border-radius: 10px;
    border: 3px solid #ffc107;
}
.form{
    width:50%;
    max-width: 400px;
    gap: 5px;
    padding: 0px;
    margin: 0 auto;
}
.form-control{
    
    height: 30px;
}
.form-control:hover{
    border: 1px solid #ffc107;
}
.form-control:focus{
    box-shadow: 0 0 0 0;
    border: 3px solid #ffc107;
    outline: 0;
}
.form-control:active{
    box-shadow: 2 2 2 2;
    border: 3px solid #ffc107;
    outline: 0;
}
.form textarea{
    height: 100px;
    min-height: 80px;
    max-height: 120px;
}




@media screen and (max-width: 575px){
    .fundo{
        background-position: center;
    }

    .c-about{
       padding: 10px;
       width: 300px;
       
    }
   
}


@media screen and (min-width: 576px){
    .body-home{
        width: 65%;
    }
    
    .navbar-nav{
       width: 100%;
       display: flex;
       justify-content: end;
    }
 

}

@media screen and (min-width: 768px){
    .nav-link{
        margin: 5px;  
    }
}
@media screen and (min-width: 850px){
    .home{
        justify-content: left;
    }
    .c-home{
        max-width: 330px;
        margin: 4%;
    }
    
}



@media screen and (max-width: 750px){
    .c-servicos{
        flex-direction: column;
        align-items: center;
    }
    .c-catalago{
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width:  1200px){
    .menu-img{
        width: 100%;
    }
    .menu-pizza{
        display: flex;
        flex-direction: column; 
        margin: 10px;
    }
    .menu-pizza-bottom  .menu-pizza{
        flex-direction: column;
    }
    .menu-pizza-about .text{
        height: 90px;
    }
}
@media screen and (max-width: 700px){
    .menu-pizza-about .text{
        height: 115px;
    }
}
@media screen and (max-width:600px){
    .menu-img{
        width: 40%;
    }
    .menu-pizza-top{
        flex-direction: column;
    }
    .menu-pizza-bottom{
        flex-direction: column;
    }

    .menu-pizza{
        display: flex;
        flex-direction:row; 
        margin:10px;
    }
    .menu-pizza-bottom  .menu-pizza{
        flex-direction: row;
    }

}
@media screen and (max-width:500px){
    .menu-pizza{
        margin: 10px 0px;
    }
    

}
@media screen and (max-width: 560px){
    .menu-img{
        width: 50%;
    }
    

}


@media screen and (max-width: 700px){
    .contact-c_group{
        flex-direction: column-reverse;
        padding: 40px;
    }
    .form{
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
    .contact-map{
        width: 100%;
    }
    .contact-map iframe{
        max-width: 500px;
    }
}


@media screen and (max-width: 460px){
    .contact-c_group{
        padding:20px;
    }
}


/* @media screen and (max-width: 600px){
    .card{
        height:220px;
    }
} */
